/*
-------- Shades ----------
Dark: black
Light-dark: #524F58
Gray: #7B7780
Light-gray: #A5A2AC
White-smoke: #D3CFD9
*/

/* Main HTML */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}


.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.7) 75%,
            #000 100%),
        url(/assets/img/car-bg.jpg) no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1,
.masthead .h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 4.5rem;
    line-height: 4rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.masthead h2,
.masthead .h2 {
    max-width: 40rem;
    font-size: 1.5rem;
}

content {
    padding: 2px;
    flex: 1;
}

#masterbody {
    flex: 1 0 auto;
    padding-top: 4.5rem;
}

.footer {
    flex-shrink: 0;
    margin-top: 0;
    background-color: #2d2a32;
}

.text {
    color: #DDBF5F;
    text-shadow: 3px 3px 5px #2d2a32;
    font-size: 110%;
    font-weight: 600;
}


/* Navbar */
.navbar {
    transition: all 0.5s;
    background: black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
}

.nav-text {
    color: #DDBF5F;
    font-size: 110%;
    font-weight: 600;
}

.nav-item:hover {
    transform: scale(1.25);
}

.navbar-scrolled {
    background-color: black;
}

.navbar-toggler,
.dropdown-menu {
    border: none;
}


/* Login page */

section {
    background: url(/assets/img/login-cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: min(700px, 100%);
}

.login-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
}

.login-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: whitesmoke;
}

/* form:invalid button {
    opacity: 0.3;
    pointer-events: none;
} */

.login-label {
    color: #31285a;
    font-size: 100%;
    font-weight: 600;
    padding-left: 3px;
}

.forgot {
    margin-top: -1rem;
    position: relative;
    text-align: end;
    font-size: 80%;
}

#remember {
    padding-top: 1px;
}

.checkbox-text {
    color: white;
    font-size: 90%;
    font-weight: 500;
}

#message {
    display: none;
    padding-top: 5px;
}

/* Product page */

#btn_search {
    background-color: goldenrod;
    color: whitesmoke;
    font-size: 120%;
}

.item {
    cursor: pointer;
    margin-bottom: 2rem;
}

.item img {
    transition: 0.3s all;
}

.item:hover img {
    transform: scale(1.1);
}

hr {
    border: solid 1.5px goldenrod;
}

.star i {
    color: goldenrod;
    padding: 10px 0;
}

.p-name {
    font-size: 90%;
    font-weight: 400;
}

.p-price {
    font-size: 110%;
    font-weight: 600;
}

.item .buy-btn {
    background-color: #FB774B;
    transform: translateY(20px);
    transition: 0.3s all;
    opacity: 0;
    border: none;
    width: min(100px, 100%);
    height: min(40px, 100%);
    color: whitesmoke;
}

.item:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}