/*
darkblue:   1b264f
blue:       274690
light-blue: 576ca8
black:      302b27
white:      f5f3f5
*/

body {
    background-color: #576ca8;
}

.text {
    color: #f5f3f5;
    text-shadow: 3px 3px 5px #302b27;
    font-size: 110%;
    font-weight: 600;
}

.navbar-toggler {
    background-color: #274690;
    border: none;
}

.navbar-toggler:hover {
    background-color: #576ca8;
}

.dropdown-menu {
    background-color: #576ca8;
}

.dropdown-item:hover {
    background-color: #274690;
}

header {
    background-color: #274690;
    border-color: #274690;
    border-style: hidden hidden inset hidden;
}

section {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

side {
    padding: 5px;
    max-width: 200px;
    background-color: #f5f3f5;
}

content {
    padding: 2px;
}

footer {
    background-color: #1b264f;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}